{% extends 'portfolio/base.html' %}

{% block content %}
<div>
	<h1 class="py-3 display-3"><a href="{% url 'home' %}" class="text-decoration-none"><span class="text-danger">&bull;Live</span><span class="text-success">Stock</span></a></h1>
	<div class="input-group w-50">
		<input id="stock_symbol_input" type="text" name="search" placeholder="Search for a stock!" autocomplete="off" class="form-control" />
		<div class="input-group-append">
			<button id="stock_symbol_search" name="submit" class="btn btn-info" >Search</button>
		</div>
	</div>
	<div class="mt-4">
		{% block stock_info %}
			{# stock information here #}
		{% endblock %}
	</div>
	<script>
		// document.querySelector('#stock_symbol_input').focus();
        document.querySelector('#stock_symbol_input').onkeyup = e => {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#stock_symbol_search').click();
            }
        };

        document.querySelector('#stock_symbol_search').onclick = e => {
            var symbol = document.querySelector('#stock_symbol_input').value.toUpperCase();
            if (symbol.length !== 0) {
            	window.location.pathname = '/stream/' + symbol + '/';
            }
        };
	</script>

</div>
{% endblock %}