{% extends 'portfolio/newhome.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-crosshair@1.1.6/dist/chartjs-plugin-crosshair.min.js"></script>

{% block stock_info %}

<div class="">
	<div class="d-flex flex-row justify-content-between w-100">
		<h2>{{ asset_info.name }}</h2>
		<h3>Next Update: <span id="update_timer">59</span></h3>
	</div>
	<!-- <input id="stream_table_update" type="button" value="Update"> -->
	<div class="mb-4">
    <canvas id="stock_chart_day"></canvas>
		<canvas id="stock_chart_month"></canvas>
	</div>
	<div class="d-flex justify-content-between">
		<div class="w-75">			
			<table id="stream_table" class="table table-bordered shadow mh-50">
		        <caption class="">Stock Data from AlpacaMarkets</caption>
		        <thead>
		            <tr>
		                <th>TimeStamp</th>
		                <th>Open</th>
		                <th>Close</th>
		                <th>High</th>
		                <th>Low</th>
		                <th>Volume</th>
		            </tr>
		        </thead>
		        <tbody>
		        </tbody>
		    </table>
	    </div>
	    <div class="w-25 ml-2">
	    	<!-- {{ asset_info }} -->
	    	<table class="table table-bordered shadow">
	    		<tbody>
	    			{% for info, sym_info in asset_info.items %}
	    			<tr class="scope">
	    				<td colspan="1">{{ info|upper }}</td>
	    				<td colspan="1">{{ sym_info|upper }}</td>
	    			</tr>
	    			{% endfor %}
	    		</tbody>
	    	</table>
	    </div>
    </div>
    
    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br> -->
    <!-- <input id="chat-message-input" type="text" size="100"><br> -->
    
    {{ symbol|json_script:"symbol" }}
    <script>
        const symbol = JSON.parse(document.getElementById('symbol').textContent);

        const streamSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/stream/'
            + symbol
            + '/'
        );

        streamSocket.onopen = () => console.log('Websocket CONNECTED', symbol)

        streamSocket.onmessage = (e) => {
            const data = JSON.parse(e.data);
            // console.log(data, 'onmessage')
            const info_table = document.getElementById("stream_table");
            
            const row = info_table.insertRow(1)
            for (const d in data.message) {
                const cell = row.insertCell(-1)
                cell.innerHTML = data.message[d]
            }
            
        };

        streamSocket.onclose = function(e) {
            console.error('Stream socket closed unexpectedly');
        };

        // document.querySelector('#stream_table_update').onclick = (e) => {
        //     streamSocket.send(JSON.stringify({
        //         'message': 'ping'
        //     }));
        // };

        function runTimer() {
    		let timer_current = parseInt(document.getElementById('update_timer').innerHTML);
    		// console.log(timer_current)
    		if (timer_current <= 0)
    			document.getElementById('update_timer').innerHTML = 59;
    		else
    			document.getElementById('update_timer').innerHTML = --timer_current;
        }

     //    window.onload = setInterval( () => streamSocket.send(
     //    	JSON.stringify({
     //    		'message': 'ping'
     //    	})),
     //    	60000
    	// );
    	window.onload = setInterval( () => runTimer(), 1000);

      var ctx_day = document.getElementById('stock_chart_day').getContext('2d');
      document.getElementById('stock_chart_day').style.display = 'none';
      // console.log(ctx_day)
    	var ctx_month = document.getElementById('stock_chart_month').getContext('2d');

    	const options = {
        'responsive': true,
        'scales': {
          'xAxes': [{
            'type': 'time',
            // 'time': {
            //   'parser': 'MM-DD-YYYY',
            //   'unit': 'week',
            //   'displayFormats': {
            //     'day': 'MM-DD-YYYY'
            //   },
            // },
            'distribution': 'series',
            'gridLines': { 'display': false },
            'display': false,
          }],
          'yAxes': [{
            'gridLines': { 
              'display': true,
              'drawBorder': true,
              'lineWidth': 1, 
            }
          }]
        },
        'layout': {
          'padding': {
            'right': 30,
            'top': 20,
          }
        },
        'ticks': {
          'source': 'data'
        },
        'legend': { 'display': false, },
        'tooltips': {
          'position': 'average',
          'mode': 'interpolate',
          'intersect': false,
          'titleFontSize': 18,
          'bodyFontSize': 16,
          'xPadding': 10,
          'yPadding': 10,
          'callbacks': {
            'title': (a, d) => {
              return moment(a[0].xLabel).format('ll');
            },
            'label': (tooltipItem) => {
              // console.log(tooltipItem);
              return `${symbol}: $${tooltipItem.yLabel}`;
            }
          },
          'displayColors': false,
        },
        'plugins': {
          'crosshair': {
            'line': {
              'color': 'rgb(75, 192, 192)',
              'width': 1,
              'dashPattern': [3, 3],
            },
            'sync': {
              'enabled': false
            },
            'zoom': {
              'enabled': false,
            },
            'snap': { 'enabled': true, },
          }
        }
      }
      const chart_data_raw = {{ stock_data|safe }};

      const chart_data = chart_data_raw.data;
      chart_data.forEach( (d, index) => {
        chart_data[index] = {
          // x: new Date(d.t),
          // x: index,
          // x: moment(d.t),,
          x: d.t,
          y: d.y.toFixed(2)
        }
        // console.log(chart_data[index], typeof(d.y))
      })
      console.log(chart_data, typeof(chart_data))
      if (chart_data != null) {
    	  var stockChartM = new Chart(ctx_month, {
    		  'type': 'scatter',
    		  'data': {
            'datasets': [{
              'label': symbol,
              'data': chart_data,
              'fill': false,
              'lineTension': 0.15,
              'borderColor': 'rgb(75, 192, 192)',
              'showLine': true,
            }]
          },
          // data: chart_data,
    	   	'options': options,
    	  })

        var stockChartD = new Chart(ctx_day, {
          'type': 'scatter'
        })
      } else {
        ctx.style.display = 'none';
        // console.log(chart_data === 'undefined', chart_data === null);    	
      }

      function show_chart_day() {
        ctx_day.style.display = 'block'
        ctx_month.style.display = 'none';
      }

      function show_chart_day() {
        ctx_day.style.display = 'none'
        ctx_month.style.display = 'block';
      }

    </script>
</div>

{% endblock %}





























