<!-- finance_portfolio/newhome.html -->
{% extends 'finance_portfolio/base.html' %}

{% block stock_info %}
<div>
  <h2 class="display-4 py-3">Check out these ETFs or search for a stock!</h2>
  <div class="d-flex justify-content-between">
  	<div class="">
  		<h3 class="lead display-1">S&P 500</h3>
  		<ul class="list-group">
        <li class="list-group-item"><a href="{% url 'stream' 'SPY' %}">SPDR S&P 500 ETF Trust (SPY)</a></li>
        <li class="list-group-item"><a href="{% url 'stream' 'SPLG' %}">SPDR Portfolio S&P 500 ETF (SPLG)</a></li>
        <li class="list-group-item"><a href="{% url 'stream' 'VOO' %}">Vanguard S&P 500 ETF (VOO)</a></li>
        <li class="list-group-item"><a href="{% url 'stream' 'SCHX' %}">Schwab U.S. Large Cap ETF (SCHX)</a></li>
        <li class="list-group-item"><a href="{% url 'stream' 'IVV' %}">iShares Core S&P 500 ETF (IVV)</a></li>
        <li class="list-group-item"><a href="{% url 'stream' 'IVW' %}">iShares S&P 500 Growth ETF (IVW)</a></li>
  		</ul>
  	</div>
    <div>
      <h3 class="lead display-1">Dow Jones Industrial Average</h3>
      <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'stream' 'DIA' %}">SPDR Dow Jones Industrial Average ETF (DIA)</a></li>
        <li class="list-group-item"><a href="{% url 'stream' 'IYY' %}">iShares Dow Jones US ETF (IYY)</a></li>
        <li class="list-group-item"><a href="{% url 'stream' 'DDM' %}">ProShares Ultra Dow30 (DDM)</a></li>
      </ul>
    </div>
    <div>
      <h3 class="lead display-1">Nasdaq Composite</h3>
      <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'stream' 'QQQ' %}">Invesco QQQ Trust (QQQ)</a></li>
        <li class="list-group-item"><a href="{% url 'stream' 'QQQM' %}">Invesco Nasdaq 100 ETF (QQQM)</a></li>
        <li class="list-group-item"><a href="{% url 'stream' 'QQQJ' %}">Invesco Nasdaq Next Gen 100 ETF (QQQJ)</a></li>
        <li class="list-group-item"><a href="{% url 'stream' 'USNQX' %}">USAA Nasdaq-100 Index Fund (USNQX)</a></li>
        <li class="list-group-item"><a href="{% url 'stream' 'IVNQX' %}">Invesco Nasdaq 100 Index Fund (IVNQX)</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}