<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Stream Center</title>
</head>
<body onload="">
    <p id="timer"></p>
    
    <table id="stream_table">
        <caption>stream test</caption>
        <thead>
            <tr>
                <th>symbol</th>
                <th>num</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br> -->
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Update">
    {{ symbol|json_script:"symbol" }}
    <script>
        const symbol = JSON.parse(document.getElementById('symbol').textContent);

        const streamSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/stream/'
            + symbol
            + '/'
        );

        streamSocket.onopen = () => console.log('Websocket CONNECTED', symbol)

        streamSocket.onmessage = (e) => {
            const data = JSON.parse(e.data);
            console.log(e, data, 'onmessage')
            const info_table = document.getElementById("stream_table");
            
            const row = info_table.insertRow(1)
            for (const d in data.message) {
                console.log(d)
                const cell = row.insertCell(-1)
                cell.innerHTML = data.message[d]
            }
            
        };

        streamSocket.onclose = function(e) {
            console.error('Stream socket closed unexpectedly');
        };

        // document.querySelector('#chat-message-input').focus();
        // document.querySelector('#chat-message-input').onkeyup = function(e) {
        //     if (e.keyCode === 13) {  // enter, return
        //         document.querySelector('#chat-message-submit').click();
        //     }
        // };

        document.querySelector('#chat-message-submit').onclick = (e) => {
            // const messageInputDom = document.querySelector('#chat-message-input');
            // const message = messageInputDom.value;
            console.log('click!');
            streamSocket.send(JSON.stringify({
                'message': 'ping'
            }));
            // messageInputDom.value = '';
        };
        
        // var tries = 10

        // function test() {
        //     console.log(timer)
        //     while (tries > 0) {
        //         setTimeout( () => {
        //             streamSocket.send(JSON.stringify({
        //                 'message': 'ping'
        //             }))
        //             document.querySelector('#timer').value = tries;
        //             tries--;

        //         },
        //         5000);
        //     }
        // }
    </script>
</body>
</html>